<phpunit
    bootstrap="./Bootstrap.php"
    colors="true"
    backupGlobals="false"
>
    <testsuites>
        <testsuite name="UthandoSessionManager Test Suite">
            <directory>./UthandoSessionManagerTest</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true"> <!-- addUncoveredFilesFromWhitelist / processUncoveredFilesFromWhitelist  -->
            <directory>../src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="../../../build/logs/UthandoSessionManager" charset="UTF-8"
             yui="true" highlight="true"
             lowUpperBound="50" highLowerBound="80"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
</phpunit>
